<%= form_for([@article, @article.comments.build]) do |f| %>
  <p align="center">
    <%= f.hidden_field :commenter, value:current_user.name  %>
  </p>
  <p align="center">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p align="center">
    <%= f.submit %>
  </p>
<% end %>

