<h1 align="center">Listing articles</h1>

<table align="center">
  <% @articles.each do |article| %>
    <table BORDER="1" CELLPADDING="1" CELLSPACING="10" align="center">
      <td>
        <table BORDER="1" CELLPADDING="3" CELLSPACING="3">
          <%if !current_user.nil?%>
            <td><%= link_to image_tag("up.png", :class => "vote"), edit_article_path(article, check: 1) %></td>
            <td><%= link_to image_tag("down.png", :class => "vote"), edit_article_path(article, check: 2) %></td>
          <%else%>
            <td><%= link_to image_tag("up.png", :class => "vote"), '/login' %></td>
            <td><%= link_to image_tag("down.png", :class => "vote"), '/login' %></td>
          <%end%>
          <tr>
            <td><%= article.up_votes%></td>
            <td><%= article.down_votes%></td>
          </tr>
        </table>
      </td>
      <td>
        <table BORDER="1" CELLPADDING="3" CELLSPACING="3">
          <td><%= link_to article.title, article_path(article) %></td>
          <tr>
            <td><%= "Author: #{article.author}, comments: #{article.comments.count}" %></td>
          </tr>
        </table>
      </td> 
   <td>
      <%if !current_user.nil? && article.author == current_user.name%>
        <td><%= link_to 'Destroy', article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?'  } %></td>
      <%end%>
    </td> </table>
    
  <% end %>
</table>
<%if !current_user.nil?%>
  <div align="center">
    <%= link_to 'New article', new_article_path %>
  </div>
<%end%>
