<!DOCTYPE html>
<html>
  <head>
    <title>FaberHackerNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p class="r" id='helv'>
        Signed in as <%= current_user.name %> | <%= link_to 'Home', '/', {:id => 'helv', :class => 'r'} %> | <%= link_to 'Logout', '/logout', {:id => 'helv', :class => 'r'} %>
      </p>
    <% else %>
      <p class="r" id='helv'>
        <%= link_to 'Home', '/', {:id => 'helv', :class => 'r'}%> | <%= link_to 'Login', '/login', {:id => 'helv', :class => 'r'}%> | <%= link_to 'Signup', '/signup' , {:id => 'helv', :class => 'r'}%>
      </p>
    <% end %>
  <%= yield %>
  </body>
</html>
